In [1]:
import pyspark
import pandas as pd
from pyspark.sql import SQLContext
sc = pyspark.SparkContext('spark://spark:7077')
sqlContext = SQLContext(sc)

In [8]:
from pandas import DataFrame
import time

orders = DataFrame({'orderId':[1,2,3,4],'orderMonth':[3,4,5,6]})
orderItems = DataFrame({'itemId':[5,6]})    

orders = orders.assign(foo=1).merge(orderItems.assign(foo=1)).drop('foo', 1)

orders

   orderId  orderMonth  itemId
0        1           3       5
1        1           3       6
2        2           4       5
3        2           4       6
4        3           5       5
5        3           5       6
6        4           6       5
7        4           6       6

In [9]:
def calculate(data):
    [time.sleep(30) for x in data['orderId']]
    return data

df = sqlContext.createDataFrame(orders)

start_time = time.time()
df.groupby('orderId').applyInPandas(calculate,df.schema).count()
(time.time() - start_time)

62.31021785736084